<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Welcome! Sign up.</title>
    <script th:src="@{/js/register.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <!--    <form th:action="@{/register}"-->
    <!--          th:object="${user}"-->
    <!--          method="POST">-->



    <h1>Sign up</h1>

    <div class="form-group">
        <label for="email" class="form-label mt-4">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
               pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="username" class="form-label mt-4">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username"
               pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$">
        <small id="usernameHelp" class="form-text text-muted">Must be unique.</small>
    </div>
    <div class="form-group">
        <label for="password" class="form-label mt-4">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password"
               pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
        <small id="passwordHelp" class="form-text text-muted">Must contain at least one digit, one special symbol and 6 symbols.</small>
    </div>

    <div id="result" class="invalid-feedback">Error has occurred. Try again later</div>
    <div id="btnSignUpCont">
        <button type="submit" content="Register" onclick="Register()" class="btn btn-primary">Sign up</button>
    </div>



    <!--        <input id="username" type="text" placeholder="Enter username"-->
    <!--               pattern="^[a-zA-Z0-9]+$"/> <br/>-->

    <!--        <div id="result" style="color: red"></div>-->

    <!--        <input id="email" type="email" placeholder="Enter email"-->
    <!--               pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"/> <br/>-->

    <!--        <input id="password" type="password" placeholder="Enter password"-->
    <!--               pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" /> <br/>-->

    <!--        <button type="submit" onclick="Register()" content="Register">Зарегистрироваться</button>-->
    <!--    </form>-->
</div>
</body>
</html>