<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Update Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style3.css}"/>
</head>
<body>
<div class="container">

    <h1>Update book:</h1>
    <form th:action="@{/updatebook}"
          th:object="${bookform}" method="POST">

        <h2>Enter book title and author to update:</h2>
        <p>Title:
            <input type="text" th:field="*{oldTitle}" />
        </p>
        <p> Author:
            <input type="text" th:field="*{oldAuthor}" />
        </p>

        <h2>Enter new values:</h2>
        <p>Title:
            <input type="text" th:field="*{title}" />
        </p>
        <p> Author:
            <input type="text" th:field="*{author}" />
        </p>
        <input class ="button-main-page" type="submit" value="Update" />
    </form>

</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
</div>
</body>